.cm-container {
  position: relative;
  width: 550px;
  height: 550px;
  border: solid 2px #C29239;
  left: -440px;
  -khtml-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-sizing: border-box;
}
.cm-container .cm-items {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: auto;
  left: 264px;
  top: 264px;
  box-sizing: border-box;
}
.cm-container .cm-items .cm-item {
  position: absolute;
  list-style: none;
  width: 186px;
  box-sizing: border-box;
}
.cm-container .cm-items .cm-item.selected {
  display: none;
}
.cm-container .cm-items .cm-item a {
  position: relative;
  color: #767676;
  padding-left: 30px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
}

.cm-container .cm-items .cm-item a:hover {
  color: #000;
  padding-left: 32px;
  opacity: 1;
}
.cm-container .cm-items .cm-item a:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #C29239;
  -khtml-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.cm-container .cm-selected-container {
  position: absolute;
  right: -50px;
  top: 225px;
}
.cm-container .cm-selected-container .cm-selected-label {
    position: absolute;
    left: -20px;
    top: 32px;
    min-width: 180px;
    font-weight: 700;
    color: #000;
    font-size: 16px;
}

.cm-container .cm-selected-container .cm-selected-label::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2;
  left: -36px;
  background-color: #C29239;
  -khtml-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.cm-container .cm-selected-container .cm-selected-label span {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit;
}
.cm-container .cm-selected-container .cm-button {
  position: absolute;
  width: 28px;
  height: 28px;
  font-size: 20px;
  cursor: pointer;
  top: 36px;
  color: #4bd187;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.cm-container .cm-selected-container .cm-button:hover {
  color: #74dba2;
}
.cm-container .cm-selected-container .cm-button.cm-button-prev {
  right: 90px;
  top: -20px;
  
}

.cm-container .cm-selected-container .cm-button.cm-button-next {
  right: 90px;
  top: 60px;
}
